h1 {
  font-family: 'Jura', sans-serif;
  font-weight: 200;
  color: #f6fffe;
}

h2 {
  font-family: 'Jura', sans-serif;
  font-weight: 200;
  color: #f6fffe;
}

body, input {
  font-family: 'Jura', sans-serif;
  color: #f6fffe;
}